{% extends "base.html" %} {% block content %}


<div class="d-flex">
    <div class="d-flex flex-column">
      <canvas width="300" height="300" id="pie_chart"></canvas>
    </div>

    <div class="d-flex flex-column">
      <canvas width="300" height="300" id="vaccine_chart"></canvas>
    </div>

<script>
    const pie_labels = "{{age_data.labels|safe}}".split(",");
    const pie_data_set = "{{age_data.data|safe}}".split(",");

    const vaccine_labels = "{{vaccine_data.labels|safe}}".split(",");
    const vaccine_data_set = "{{vaccine_data.data|safe}}".split(",");

    const pie_data = {
          labels: pie_labels,
          datasets: [
            {
              data: pie_data_set,
              backgroundColor: [
                "rgb(255, 99, 132)",
                "rgb(54, 162, 235)",
                "rgb(255, 205, 86)",
                "rgb(75, 192, 192)",
              ],
            },
          ],
        };

        const vaccine_data = {
          labels: vaccine_labels,
          datasets: [
            {
              // label: "My First Dataset",
              data: vaccine_data_set,
              backgroundColor: [
                "rgb(255, 99, 132)",
                "rgb(54, 162, 235)",
                "rgb(255, 205, 86)",
                "rgb(75, 192, 192)",
                "rgb(153, 102, 255)",
              ],
            },
          ],
        };

        const pie_config = {
          type: "pie",
          data: pie_data,
          options: {
            responsive: false,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                position: "top",
              },
              title: {
                display: true,
                text: "Age Wise Distribution of Covid Patients",
              },
            },
          },
        };

        const vaccine_config = {
          type: "bar",
          data: vaccine_data,
          options: {
            responsive: false,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                position: "top",
                display: false,
              },
              title: {
                display: true,
                text: "Vaccination Coverage",
              },
            },
          },
        };

        const pie_chart = new Chart(
          document.getElementById("pie_chart"),
          pie_config
        );

        const vaccine_chart = new Chart(
          document.getElementById("vaccine_chart"),
          vaccine_config
        );

</script>

</div>



{% endblock content %}
