{% extends "base.html" %} {% block content %}

<div>
  <div>
    <table class="table">
      <tbody>
        <tr>
          <td colspan="2" rowspan="7">
            <h4>COVID Help Line Numbers</h4>
          </td>
          <td>104 (Arogya Sahayava - Health Help Line)</td>
        </tr>
        <tr>
          <td>108 (Ambulance)</td>
        </tr>
        <tr>
          <td>14410 (Apthamitra Help Line)</td>
        </tr>
        <tr>
          <td>1533 (BBMP COVID-19 Treatment &amp; Vaccination)</td>
        </tr>
        <tr>
          <td>1075 (CoWIN Help Line)</td>
        </tr>
        <tr>
          <td>9745697456 (Tele-Medicine)</td>
        </tr>
      </tbody>
      <colgroup>
        <col />
      </colgroup>
    </table>
  </div>
</div>
{% endblock content %}
