{% extends "base.html" %} {% block content %}
{% load static %}

<div class="contagion" id="contagion">
  <div class="content">
    <div class="cards" style="justify-content: center; align-content: center">
      <div
        class="card"
        style="
          height: 20rem;
          width: 30rem;
          align-items: start;
          justify-content: start;
        "
      >
        <h4 style="padding-left: 2rem; padding-top: 1rem">Important Links</h4>

        <ul
          class="d-flex flex-column align-content-start justify-content-start align-items-start"
          style="padding: initial"
        >
          <li class="">
            <a
              href=" https://bbmp.gov.in/ "
              title="Bruhat Bengaluru Mahanagara Palike"
              target="_blank"
              >Bruhat Bengaluru Mahanagara Palike
            </a>
          </li>

          <li class="">
            <a
              href=" https://karunadu.karnataka.gov.in/hfw/Pages/home.aspx "
              title="Department of Health and Family Welfare"
              target="_blank"
              >Department of Health and Family Welfare
            </a>
          </li>

          <li class="">
            <a
              href=" https://icmr.nic.in/ "
              title="The Indian Council of Medical Research"
              target="_blank"
              >The Indian Council of Medical Research
            </a>
          </li>

          <li class="">
            <a
              href=" https://ncdc.gov.in/ "
              title="National Centre for Disease Control"
              target="_blank"
              >National Centre for Disease Control
            </a>
          </li>

          <li class="">
            <a
              href=" https://www.who.int/emergencies/diseases/novel-coronavirus-2019 "
              title="WHO COVID-19"
              target="_blank"
              >WHO COVID-19
            </a>
          </li>
        </ul>
      </div>

      <div
        class="card"
        style="
          height: 20rem;
          width: 30rem;
          align-items: start;
          justify-content: start;
        "
      >
        <h4 style="padding-left: 2rem; padding-top: 1rem">
          COVID Help Line Numbers
        </h4>
        <ul
          class="d-flex flex-column align-content-start justify-content-start align-items-start"
          style="padding: revert"
        >
          <li>104 (Arogya Sahayava - Health Help Line)</li>
          <li>108 (Ambulance)</li>
          <li class="">14410 (Apthamitra Help Line)</li>
          <li class="">1533 (BBMP COVID-19 Treatment &amp; Vaccination)</li>
          <li class="">1075 (CoWIN Help Line)</li>
          <li class="">9745697456 (Tele-Medicine)</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center" style="color: red;">Awareness</h1>
<div class="container">
    <main role="main" class="container">
        <div class="starter-template">
            <div class="parent">
                <div class="content-box">
                    <figure>
                        <a href="{% static 'socialdistancingEnglish.pdf' %}" target="_blank">
                            <img src="{% static 'socialdistancingEnglish_page-0001.png' %}" alt="Poster on Social distancing in a market place during COVID-19 English" />
                        </a>
                    </figure>
                </div>

                <div class="content-box">
                    <figure>
                        <a href="{% static 'FINAL_14_03_2020_ENg.pdf' %}" target="_blank">
                            <img src="{% static 'FINAL_14_03_2020_ENg_page-0001.png' %}" alt="When to get tested for COVID-19 English" />
                        </a>
                    </figure>
                </div>

                <div class="content-box">
                    <figure>
                        <a href="{% static 'ProtectivemeasuresEng.pdf' %}" target="_blank">
                            <img src="{% static 'ProtectivemeasuresEng_page-0001.png' %}" alt="Posters for Safety measures against COVID-19 - English" />
                        </a>
                    </figure>
                </div>

                <div class="content-box">
                    <figure>
                        <a href="{% static 'Poster_Corona_ad_Eng.pdf' %}" target="_blank">
                            <img src="{% static 'Poster_Corona_ad_Eng_page-0001.png' %}" alt="Do's and Don't Poster in English" />
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock content %}
