{% extends "base.html" %} {% block content %}

{% load render_table from django_tables2 %}

<div class="d-flex flex-row">
  <!-- {% load static %} -->

  <img src="{% static 'hospital.jpg' %}" alt="Italian Trulli" style="width:500px;height:500px;" >

  <div class="d-flex flex-column">
    Hospital Name: {{hospital.name}} <br />
    Address: {{hospital.address}} <br />
    City: {{hospital.city}} <br />
    Zipcode: {{hospital.zipcode}} <br />
    Phone: {{hospital.phone}} <br />
  </div>

</div>

<div class="d-flex flex-column justify-content-center align-items-center">
  <div style="overflow-y: scroll">{% render_table hospitals_list %}</div>
</div>



{% endblock content %}
