{% extends "base.html" %} {% block content %}

<div class="container">
  <!--  Add any html code you want to here. -->
</div>

<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Disclaimer</h5>
        <p>
          Please note that this page also provides links to the websites / web
          pages of Govt. Ministries/Departments/Organisations. The content of
          these websites are owned by the respective organisations.
        </p>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    Content Owned and Maintained by: Health and Family Welfare Department<br />
    Best viewed in Chrome, Microsoft Edge, Firefox, Safari, Opera Browsers.<br />
    © 2022 Copyright:
    <a class="text-dark" href="https://pacific-earth-94803.herokuapp.com/"
      >Pandemic Visualisation</a
    >
  </div>
</footer>
{% endblock content %}
