{% extends "base.html" %} {% block content %} 
{% load render_table from django_tables2 %}

<div class="container">
  <main role="main" class="container">
    <div class="starter-template">
      <!-- <h1>Pandemic Visualiser Homepage</h1> -->

      <div class="d-flex">
        <canvas width="300" height="300" id="myChart"></canvas>
        <canvas width="300" height="300" id="myChart1"></canvas>
        <canvas width="300" height="300" id="myChart2"></canvas>
        <canvas width="300" height="300" id="myChart3"></canvas>
      </div>

      <!-- {% render_table table %} -->
      <div class="d-flex">
        <div class="d-flex flex-column justify-content-center">
          <div>List of Hospitals</div>
          <div style="width: 500px; height: 500px; overflow-y: scroll">
            {% render_table table %}
          </div>
        </div>

        <div class="d-flex flex-column justify-content-center">
          <div>Covid Care Centers</div>
          <div style="width: 500px; height: 500px; overflow-y: scroll">
            {% render_table table2 %}
          </div>
        </div>
      </div>

      <script>
        const covid_positive_labels = "{{covid_positive.labels|safe}}".split(
          ","
        );
        const covid_positive_data = "{{covid_positive.data|safe}}";

        const deceased_labels = "{{deceased.labels|safe}}".split(",");
        const deceased_data = "{{deceased.data|safe}}";

        const recovered_labels = "{{recovered.labels|safe}}".split(",");
        const recovered_data = "{{recovered.data|safe}}";

        const active_labels = "{{recovered.labels|safe}}".split(",");
        const active_data = "{{recovered.data|safe}}";

        const data = {
          labels: covid_positive_labels,
          datasets: [
            {
              label: "CONFIRMED",
              backgroundColor: "red",
              borderColor: "red",
              data: covid_positive_data,
              spanGaps: true
            },
          ],
        };

        const config = {
          type: "line",
          data: data,
          options: {
            responsive: false,
            maintainAspectRatio: false,
            plugins: {
              subtitle: {
                display: true,
                text: "{{covid_positive.sum|safe}}",
              },
              legend: { labels: { font: { size: 14 } } },
            },
            scales: { y: { display: true }, x: { display: false } },
          },
        };
        const data1 = {
          labels: active_labels,
          datasets: [
            {
              label: "ACTIVE",
              backgroundColor: "orange",
              borderColor: "orange",
              data: active_data,
              spanGaps: true
            },
          ],
        };

        const config1 = {
          type: "line",
          data: data1,
          options: {
            responsive: false,
            maintainAspectRatio: false,
            plugins: {
              subtitle: {
                display: true,
                text: "{{active.sum|safe}}",
              },
              legend: { labels: { font: { size: 14 } } },
            },
            scales: { y: { display: true }, x: { display: false } },
          },
        };
        const data2 = {
          labels: recovered_labels,
          datasets: [
            {
              label: "RECOVERED",
              backgroundColor: "green",
              borderColor: "green",
              data: recovered_data,
              spanGaps: true
            },
          ],
        };

        const config2 = {
          type: "line",
          data: data2,
          options: {
            responsive: false,
            maintainAspectRatio: false,
            plugins: {
              subtitle: {
                display: true,
                text: "{{recovered.sum|safe}}",
              },
              legend: { labels: { font: { size: 14 } } },
            },
            scales: { y: { display: true }, x: { display: false } },
          },
        };
        const data3 = {
          labels: deceased_labels,
          datasets: [
            {
              label: "DECEASED",
              backgroundColor: "grey",
              borderColor: "grey",
              data: deceased_data,
              spanGaps: true
            },
          ],
        };

        const config3 = {
          type: "line",
          data: data3,
          options: {
            responsive: false,
            maintainAspectRatio: false,
            plugins: {
              subtitle: {
                display: true,
                text: "{{deceased.sum|safe}}",
              },
              legend: { labels: { font: { size: 14 } } },
            },
            scales: { y: { display: true }, x: { display: false } },
          },
        };
      </script>

      <script>
        const myChart = new Chart(document.getElementById("myChart"), config);
        const myChart1 = new Chart(
          document.getElementById("myChart1"),
          config1
        );
        const myChart2 = new Chart(
          document.getElementById("myChart2"),
          config2
        );
        const myChart3 = new Chart(
          document.getElementById("myChart3"),
          config3
        );
      </script>
    </div>
  </main>
</div>

{% endblock content %}
