{% extends "base.html" %} {% block content %}

<h4>COVID Help Line Numbers</h4>
<ul class="d-flex flex-column align-content-start justify-content-start align-items-start" style="padding: revert;">
    <table>
    <li>104 (Arogya Sahayava - Health Help Line)</li>
    <li>108 (Ambulance)</li>
    <li class="">14410 (Apthamitra Help Line)</li>
    <li class="">1533 (BBMP COVID-19 Treatment &amp; Vaccination)</li>
    <li class="">1075 (CoWIN Help Line)</li>
    <li class="">9745697456 (Tele-Medicine)</li>
    </table>
</ul>

<h4>Awareness</h4>
<div class="container">
    <main role="main" class="container">
        <div class="starter-template">
            <div class="parent">
                <div class="content-box">
                    <figure>
                        <a href="https://www.mohfw.gov.in/pdf/socialdistancingEnglish.pdf" target="_blank">
                            <img src="https://www.mohfw.gov.in/assets/images/socialdistancingEnglish_page-0001.png" alt="Poster on Social distancing in a market place during COVID-19 English" />
                        </a>
                    </figure>
                </div>

                <div class="content-box">
                    <figure>
                        <a href="https://www.mohfw.gov.in/pdf/FINAL_14_03_2020_ENg.pdf" target="_blank">
                            <img src="https://www.mohfw.gov.in/assets/images/FINAL_14_03_2020_ENg_page-0001.png" alt="When to get tested for COVID-19 English" />
                        </a>
                    </figure>
                </div>

                <div class="content-box">
                    <figure>
                        <a href="https://www.mohfw.gov.in/pdf/ProtectivemeasuresEng.pdf" target="_blank">
                            <img src="https://www.mohfw.gov.in/assets/images/ProtectivemeasuresEng_page-0001.png" alt="Posters for Safety measures against COVID-19 - English" />
                        </a>
                    </figure>
                </div>

                <div class="content-box">
                    <figure>
                        <a href="https://www.mohfw.gov.in/pdf/Poster_Corona_ad_Eng.pdf" target="_blank">
                            <img src="https://www.mohfw.gov.in/assets/images/Poster_Corona_ad_Eng_page-0001.png" alt="Do's and Don't Poster in English" />
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock content %}
