{% extends 'login_base.html' %} {% block title %} Login {% endblock %} 
{% block content %} 
{% load static %}
<div class="page-content">
    <div class="content d-flex justify-content-center align-items-center">
      <div class="card mb-0" style="border: solid thin #ffbf00; margin-left: 100;">
        <div class="card-body border-orange">
          <div class="text-center mb-3">
            <i>
              <img
                class="login-logo"
                src="{% static 'icon.png' %}"
                style="width: 100px"
              />
            </i>
            <h5 class="mb-0">Pandemic Visualisation Login</h5>

            <span class="d-block text-muted">Welcome!</span>
          </div>

          <div class="form-group text-center text-muted content-divider">
            <span class="px-2">Sign in to your account</span>
          </div>

          <form class="form d-flex flex-column justify-content-center align-items-center" role="form" method="POST">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
  </div>
</div>
{% endblock %}
